<!DOCTYPE html>
<html ng-app>
<head>
    <title>Angularjs Class Binding</title>
    <script type="text/javascript" src="../lib/angular/angular.min.js"></script>

    <script type="text/javascript">

        function   MainCtrl($scope) {

            $scope.count =  9 ;

        }
    </script>




</head>
<body>

<div ng-controller = "MainCtrl">
    <p>
        <input type="number" ng-pattern='/\d+/' step="1" min="0" ng-model='count' required >
    </p>
    <p>
        <input type="number" ng-init= 'cost = 0 ' ng-model='cost' required>
    </p>

    <p>{{count * cost | currency}}</p>

</div>


</body>
</html>